.bug {
   position: absolute;
   display: inline-block;
   width: 60px;
   height: 60px;
}
.carrot {
   position: absolute;
   display: inline-block;
   width: 60px;
   height: 60px;
}

.carrot:hover,
.bug:hover {
   transform: scale(1.1);
   cursor: pointer;
}
